Repository eelcovv/elixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, prettier-json, prettier-yaml, prettier-md

alejandra:
  name: alejandra
  entry: alejandra
  language: system

prettier-json:
  name: prettier (json)
  entry: prettier
  language: system

prettier-yaml:
  name: prettier (yaml)
  entry: prettier
  language: system

prettier-md:
  name: prettier (markdown)
  entry: prettier
  language: system

fixed kitty
  home/modules/terminals/kitty/default.nix
Due: alejandra

fixed waybar
  home/modules/hyperland/waybar/default.nix
Due: alejandra

updated wallpaper picker
  home/modules/hyperland/waybar/default.nix
  home/modules/hyperland/waybar/scripts/waybar-pick-theme.sh
  home/modules/terminals/kitty/default.nix
Due: alejandra

added readme
  home/modules/hyperland/waybar/README.md
Due: prettier-md

removed old scripts
  home/modules/hyperland/waybar/old-scripts/launch.sh
  home/modules/hyperland/waybar/old-scripts/themeswitcher.sh
  home/modules/hyperland/waybar/old-scripts/toggle.sh
Due: none

removed old
  home/modules/hyperland/old-scripts/cliphist.sh
  home/modules/hyperland/old-scripts/gamemode.sh
  home/modules/hyperland/old-scripts/gtk.sh
  home/modules/hyperland/old-scripts/hypridle.sh
  home/modules/hyperland/old-scripts/keybindings.sh
  home/modules/hyperland/old-scripts/loadconfig.sh
  home/modules/hyperland/old-scripts/moveTo.sh
  home/modules/hyperland/old-scripts/power.sh
  home/modules/hyperland/old-scripts/restart-hypridle.sh
  home/modules/hyperland/old-scripts/screenshot.sh
  home/modules/hyperland/old-scripts/set-theme.sh
  home/modules/hyperland/old-scripts/switch-theme.sh
  home/modules/hyperland/old-scripts/systeminfo.sh
  home/modules/hyperland/old-scripts/toggle-animations.sh
  home/modules/hyperland/old-scripts/toggleallfloat.sh
  home/modules/hyperland/old-scripts/xdg.sh
Due: none

update for detached
  home/modules/hyperland/waybar/README.md
  home/modules/hyperland/waybar/scripts/waybar-switch-theme.sh
Due: prettier-md

added extra for esi openfoam
  home/scripts/openfoam/of-run
  home/scripts/openfoam/of-shell
  home/scripts/openfoam/of-shell-root
Due: none

fixed of scripts
  home/scripts/openfoam/of-run
  home/scripts/openfoam/of-shell
Due: none

fixed
  home/scripts/openfoam/of-run
  home/scripts/openfoam/of-shell
Due: none

update singer
  nixos/hosts/singer.nix
Due: alejandra

prevent waybar in kde
  home/modules/hyperland/waybar/default.nix
Due: alejandra

added backup
  home/modules/common/default.nix
Due: alejandra

added home manger bak
  home/modules/common/default.nix
  nixos/modules/common.nix
Due: alejandra

removed
  nixos/modules/common.nix
Due: alejandra

update for por
  home/users/por/default.nix
  home/users/por/gnome-bindings.nix
Due: alejandra

fixed panic term
  home/modules/shells/zsh.nix
Due: alejandra

fixed panic theme
  home/modules/shells/zsh.nix
Due: alejandra

fixed transparancy
  home/modules/shells/zsh.nix
  home/modules/terminals/kitty/default.nix
  home/modules/terminals/kitty/kitty.conf
  home/modules/terminals/kitty/opacity.conf
Due: alejandra

update conf
  home/modules/shells/zsh.nix
  home/modules/terminals/kitty/custom.conf
  home/modules/terminals/kitty/default.nix
  home/modules/terminals/kitty/kitty.conf
  home/modules/terminals/kitty/panic.conf
Due: alejandra

moved conf
  home/modules/terminals/kitty/default.nix
  home/modules/terminals/kitty/settings/custom.conf
  home/modules/terminals/kitty/settings/opacity.conf
  home/modules/terminals/kitty/settings/panic.conf
Due: alejandra

added panic toggle
  home/modules/shells/zsh.nix
Due: alejandra

added bindings
  home/modules/hyperland/conf/keybindings/default.conf
Due: none

added hyprshot script and desktop entries
  home/modules/hyperland/scripts/hyprshot-launcher.sh
  home/modules/hyperland/xdg.desktopEntries
Due: none

added hyprshot desktop
  home/modules/hyperland/default.nix
Due: alejandra

added new xdf config nix file
  home/modules/hyperland/xdg.desktopEntries.nix
Due: alejandra

exe
  home/modules/hyperland/scripts/hyprshot-launcher.sh
Due: none

fixed script
  home/modules/hyperland/default.nix
Due: alejandra

added scripts
  home/modules/hyperland/default.nix
  home/modules/hyperland/scripts/calculator.sh
  home/modules/hyperland/scripts/wayland-screenshot-picker.sh
  home/modules/hyperland/scripts/wayland-screenshot.sh
  home/modules/hyperland/xdg.desktopEntries.nix
Due: alejandra

this works
  home/modules/hyperland/xdg.desktopEntries.nix
Due: alejandra

nice arrows
  home/modules/hyperland/xdg.desktopEntries.nix
Due: alejandra

fixed it
  home/modules/hyperland/xdg.desktopEntries.nix
Due: alejandra

fixed arrows
  home/modules/hyperland/xdg.desktopEntries.nix
Due: alejandra

added tree-sitter
  home/modules/engineering/default.nix
  home/modules/engineering/openfoam.nix
Due: alejandra

added vscode openfoam wrapper
  home/modules/engineering/openfoam.nix
Due: alejandra

wallpaper fixes
  home/modules/engineering/default.nix
  home/modules/hyperland/waypaper/default.nix
  home/modules/hyperland/waypaper/scripts/wallpaper-set.sh
  home/modules/hyperland/waypaper/scripts/wallpaper.sh
Due: alejandra

better wallpaper set
  home/modules/hyperland/waypaper/scripts/wallpaper-pick.sh
  home/modules/hyperland/waypaper/scripts/wallpaper-random.sh
  home/modules/hyperland/waypaper/scripts/wallpaper-set.sh
Due: none

fix effect
  home/modules/hyperland/waypaper/default.nix
  home/modules/hyperland/waypaper/scripts/wallpaper-effects.sh
Due: alejandra

last changes
  home/modules/hyperland/waypaper/scripts/wallpaper-effects.sh
  home/modules/hyperland/waypaper/scripts/wallpaper.sh
Due: none

Path conditions:
  alejandra: any of: \.nix$
  prettier-json: any of: \.json$ and \.json$
  prettier-yaml: any of: \.(yml|yaml)$ and \.(yaml|yml)$
  prettier-md: any of: \.md$ and \.(md|markdown|mdown)$
