Repository eelcovv/elixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, prettier-json, prettier-yaml, prettier-md

alejandra:
  name: alejandra
  entry: alejandra
  language: system

prettier-json:
  name: prettier (json)
  entry: prettier
  language: system

prettier-yaml:
  name: prettier (yaml)
  entry: prettier
  language: system

prettier-md:
  name: prettier (markdown)
  entry: prettier
  language: system

fixed scripts
  scripts/vpn/vpn-list.sh
  scripts/vpn/vpn-off.sh
  scripts/vpn/vpn-on.sh
  scripts/vpn/vpn-status.sh
Due: none

version only showing active latency
  justfile
  scripts/vpn/vpn-list.sh
Due: none

keeps failing
  scripts/vpn/vpn-list.sh
Due: none

now latency is listed
  scripts/vpn/vpn-list.sh
Due: none

added speedtest
  nixos/modules/common.nix
  nixos/modules/services/surfshark.nix
  scripts/vpn/vpn-list.sh
Due: alejandra

added arg
  justfile
Due: none

needs testing
  scripts/vpn/vpn-list.sh
Due: none

added extra speed test
  nixos/modules/common.nix
  scripts/vpn/vpn-list.sh
Due: alejandra

added
  scripts/vpn/vpn-list.sh
Due: none

moved to other
  nixos/modules/common.nix
  nixos/modules/services/surfshark.nix
Due: alejandra

restored
  nixos/modules/services/surfshark.nix
Due: alejandra

shorten name
  justfile
  nixos/modules/services/surfshark.nix
  scripts/vpn/vpn-on.sh
Due: alejandra

added ssh and surfshark delaration
  README.md
  home/modules/security/ssh-and-surfshark.nix
Due: alejandra, prettier-md

added ssh
  home/modules/security/default.nix
Due: alejandra

added config
  home/modules/security/ssh-and-surfshark.nix
Due: alejandra

updated readme
  home/modules/graphics/ptgui/ptgui.nix
Due: alejandra

updated ptgui
  home/modules/graphics/ptgui/default.nix
  home/modules/graphics/ptgui/ptgui.nix
Due: alejandra

improvements suggested by chatgpt
  home/modules/graphics/ptgui/ptgui.nix
Due: alejandra

corrected url
  home/modules/graphics/ptgui/ptgui.nix
Due: alejandra

forcing X11 not needed for version 13?
  home/modules/graphics/ptgui/ptgui.nix
Due: alejandra

moved key location and addde bash script
  README.md
  nixos/modules/services/surfshark.nix
  nixos/secrets/vpn/surfshark/wg/privatekey
  scripts/vpn/gen-vpn-keypair.sh
Due: alejandra, prettier-md

made exe
  scripts/vpn/gen-vpn-keypair.sh
Due: none

updated just file for new script
  justfile
Due: none

rearranged vpn
  README.md
  home/modules/security/ssh-config.nix
  home/modules/security/vpn-config.nix
  nixos/hosts/singer.nix
  nixos/modules/services/vpn-entries.nix
Due: alejandra, prettier-md

added new names
  home/modules/security/default.nix
Due: alejandra

improved ssh config
  home/modules/security/ssh-config.nix
Due: alejandra

fixed end
  home/modules/security/ssh-config.nix
Due: alejandra

updated with comment
  home/modules/security/ssh-config.nix
Due: alejandra

updated readme
  README.md
  home/modules/security/vpn-config.nix
  nixos/modules/services/vpn-entries.nix
Due: alejandra, prettier-md

added readme
  README.md
Due: prettier-md

updated vpn section
  README.md
Due: prettier-md

fixed ssh config
  home/modules/security/ssh-config.nix
Due: alejandra

update
  README.md
Due: prettier-md

added vpn git remakr
  README.md
Due: prettier-md

moved al env files to envss
  envs/.env.alloy
  envs/.env.contabo
  envs/.env.ellie
  envs/.env.generic-vm
  envs/.env.localhost
  envs/.env.singer
  envs/.env.tongfong
Due: none

removed unused json
  favorites.json
Due: prettier-json

removed unused wg keys
  wg-private.key
  wg-public.key
Due: none

restructured users under home
  flake.nix
  home/users/eelco.nix
  home/users/eelco/default.nix
  home/users/eelco/email.nix
  home/users/eelco/gnome-bindings.nix
  home/users/eelco/nextcloud.nix
  home/users/por/default.nix
Due: alejandra

added git.nix
  home/users/eelco/default.nix
  home/users/eelco/git.nix
Due: alejandra

also separate keyboard for por
  home/users/por/default.nix
  home/users/por/git.nix
  home/users/por/keyboard.nix
Due: alejandra

Path conditions:
  alejandra: any of: \.nix$
  prettier-json: any of: \.json$ and \.json$
  prettier-yaml: any of: \.(yml|yaml)$ and \.(yaml|yml)$
  prettier-md: any of: \.md$ and \.(md|markdown|mdown)$
