Repository eelcovv/elixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, prettier-json, prettier-yaml, prettier-md

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: alejandra
    name: alejandra
    entry: alejandra
    language: system
    types: [ nix ]

  - id: prettier-json
    name: prettier (json)
    entry: prettier
    language: system
    types: [ json ]
    files: \.json$

  - id: prettier-yaml
    name: prettier (yaml)
    entry: prettier
    language: system
    types: [ yaml ]
    files: \.(yml|yaml)$

  - id: prettier-md
    name: prettier (markdown)
    entry: prettier
    language: system
    types: [ markdown ]
    files: \.md$

  - id: shfmt
    name: shfmt (bash)
    entry: shfmt
    args: [ "-w", "-i", "2", "-ci" ]
    language: system
    types: [ shell ]
    files: \.(sh|bash)$

update theme
  home/modules/hyperland/waybar/default.nix
  home/modules/hyperland/waybar/scripts/waybar-switch-theme.sh
Due: alejandra

udpated and simplified scripts
  home/modules/hyperland/scripts/helper-functions.sh
  home/modules/hyperland/waybar/scripts/waybar-switch-theme.sh
Due: none

update
  home/modules/hyperland/scripts/helper-functions.sh
Due: none

update
  home/modules/hyperland/waypaper/fetcher.nix
Due: alejandra

update waypaper restore
  home/modules/hyperland/waypaper/default.nix
  home/modules/hyperland/waypaper/fetcher.nix
Due: alejandra

fetch update
  home/modules/hyperland/waypaper/fetcher.nix
Due: alejandra

correction for circular in waybar
  home/modules/hyperland/waybar/default.nix
Due: alejandra

more fixed
  home/modules/hyperland/conf/autostart.conf
  home/modules/hyperland/default.nix
  home/modules/hyperland/waybar/default.nix
  home/modules/hyperland/waypaper/default.nix
Due: alejandra

removed
  home/modules/hyperland/waybar/default.nix
  home/modules/hyperland/waypaper/default.nix
Due: alejandra

removed service
  home/modules/hyperland/waypaper/default.nix
Due: alejandra

fixed all theme files
  home/modules/hyperland/waybar/themes/ml4w-blur/black/style.css
  home/modules/hyperland/waybar/themes/ml4w-blur/dark/style.css
  home/modules/hyperland/waybar/themes/ml4w-blur/light/style.css
  home/modules/hyperland/waybar/themes/ml4w-blur/white/style.css
  home/modules/hyperland/waybar/themes/ml4w-modern/black/style.css
  home/modules/hyperland/waybar/themes/ml4w-modern/colored/style.css
  home/modules/hyperland/waybar/themes/ml4w-modern/dark/style.css
  home/modules/hyperland/waybar/themes/ml4w-modern/light/style.css
  home/modules/hyperland/waybar/themes/ml4w-modern/white/style.css
  home/modules/hyperland/waybar/themes/ml4w/black/style.css
  home/modules/hyperland/waybar/themes/ml4w/dark/style.css
  home/modules/hyperland/waybar/themes/ml4w/light/style.css
  home/modules/hyperland/waybar/themes/ml4w/white/style.css
Due: none

fixed all themes and remove config.sh
  home/modules/hyperland/waybar/themes/default/config.sh
  home/modules/hyperland/waybar/themes/ml4w-blur/black/config.sh
  home/modules/hyperland/waybar/themes/ml4w-blur/dark/config.sh
  home/modules/hyperland/waybar/themes/ml4w-blur/light/config.sh
  home/modules/hyperland/waybar/themes/ml4w-blur/white/config.sh
  home/modules/hyperland/waybar/themes/ml4w-minimal/config.sh
  home/modules/hyperland/waybar/themes/ml4w-modern/black/config.sh
  home/modules/hyperland/waybar/themes/ml4w-modern/colored/config.sh
  home/modules/hyperland/waybar/themes/ml4w-modern/dark/config.sh
  home/modules/hyperland/waybar/themes/ml4w-modern/light/config.sh
  home/modules/hyperland/waybar/themes/ml4w-modern/white/config.sh
  home/modules/hyperland/waybar/themes/ml4w/black/config.sh
  home/modules/hyperland/waybar/themes/ml4w/dark/config.sh
  home/modules/hyperland/waybar/themes/ml4w/light/config.sh
  home/modules/hyperland/waybar/themes/ml4w/white/config.sh
  home/modules/hyperland/waybar/themes/starter/config.sh
Due: none

update theme switcher
  home/modules/hyperland/waybar/scripts/waybar-switch-theme.sh
Due: none

update theme
  home/modules/hyperland/waybar/old-scripts/themeswitcher.sh
  home/modules/hyperland/waybar/themes/starter/README.md
Due: prettier-md

updated
  home/modules/hyperland/waybar/scripts/waybar-seed.sh
  home/modules/hyperland/waybar/scripts/waybar-switch-theme.sh
Due: none

update
  home/modules/hyperland/waypaper/default.nix
Due: alejandra

bug fix
  home/modules/hyperland/waypaper/default.nix
Due: alejandra

added
  home/modules/hyperland/waybar/default.nix
  home/modules/hyperland/waypaper/default.nix
Due: alejandra

added
  home/modules/hyperland/waybar/default.nix
Due: alejandra

update
  home/modules/hyperland/default.nix
  home/modules/hyperland/waybar/default.nix
  home/modules/hyperland/waypaper/default.nix
Due: alejandra

now with merge and debug
  home/modules/hyperland/waybar/scripts/waybar-switch-theme.sh
Due: none

fixed import
  home/modules/hyperland/waybar/scripts/waybar-switch-theme.sh
Due: none

back to nl
  nixos/modules/common.nix
Due: alejandra

updated links to quick link
  home/modules/hyperland/conf/keybindings/default.conf
  home/modules/hyperland/waybar/modules.jsonc
  home/modules/hyperland/waybar/themes/ml4w-blur/config.jsonc
  home/modules/hyperland/waybar/themes/ml4w-minimal/config.jsonc
  home/modules/hyperland/waybar/themes/ml4w-modern/config.jsonc
  home/modules/hyperland/waybar/themes/ml4w/config.jsonc
  home/modules/hyperland/waybar/waybar-quicklinks.jsonc
  home/modules/terminals/kitty/kitty.conf
Due: none

added power
  home/modules/hyperland/scripts/power.sh
Due: none

update links
  home/modules/hyperland/scripts/cliphist.sh
  home/modules/hyperland/scripts/nm-applet.sh
  home/modules/hyperland/scripts/wlogout.sh
  home/modules/hyperland/swaync/config.json
  home/modules/hyperland/waybar/default.nix
Due: alejandra, prettier-json

added quite
  home/modules/hyperland/waypaper/default.nix
  home/modules/hyperland/waypaper/scripts/wallpaper-random.sh
Due: alejandra

only switch every how
  home/modules/hyperland/waypaper/default.nix
Due: alejandra

rolled back
  home/modules/hyperland/scripts/helper-functions.sh
  home/modules/hyperland/waybar/scripts/waybar-pick-theme.sh
Due: none

this does not work
  home/modules/hyperland/scripts/helper-functions.sh
  home/modules/hyperland/waybar/scripts/waybar-pick-theme.sh
Due: none

fixed
  home/modules/hyperland/conf/keybindings/default.conf
  home/modules/hyperland/scripts/helper-functions.sh
  home/modules/hyperland/waybar/scripts/waybar-pick-theme.sh
Due: none

added keybinding
  home/modules/hyperland/conf/keybindings/default.conf
Due: none

fixed
  home/modules/hyperland/waybar/scripts/waybar-switch-theme.sh
Due: none

forced restore
  home/modules/hyperland/waypaper/default.nix
Due: alejandra

now it works!
  home/modules/hyperland/waybar/scripts/waybar-switch-theme.sh
Due: none

added proper tree
  README.md
Due: prettier-md

indent
  README.md
Due: prettier-md

fixed type in filename
  nixos/modules/hardware/gpu/nvidia.nix
Due: alejandra

nvidia fix name
  nixos/hardware/tongfang/configuration.nix
Due: alejandra

turned ptgui
  home/modules/graphics/default.nix
Due: alejandra
