Repository eelcovv/elixos: changes, and which pre-commit hooks are due for each by the changed paths.
All: alejandra, prettier-json, prettier-yaml, prettier-md

alejandra:
  name: alejandra
  entry: alejandra
  language: system

prettier-json:
  name: prettier (json)
  entry: prettier
  language: system

prettier-yaml:
  name: prettier (yaml)
  entry: prettier
  language: system

prettier-md:
  name: prettier (markdown)
  entry: prettier
  language: system

added docker build
  home/modules/development/docker.nix
  nixos/users/eelco.nix
Due: alejandra

added new docker
  home/modules/development/docker.nix
  nixos/hosts/tongfang.nix
  nixos/modules/profiles/containers/docker.nix
Due: alejandra

updated openfoam for docker
  home/modules/engingeering/openfoam.nix
  nixos/hosts/tongfang.nix
Due: alejandra

fixed openfoam and typo
  README.md
  home/modules/engineering/default.nix
  home/modules/engineering/openfoam.nix
  home/modules/engineering/paraview-container.nix
  home/modules/engineering/paraview-flatpak.nix
  home/modules/engineering/paraview.nix
  home/modules/engingeering/openfoam.nix
  home/scripts/openfoam/mkfoam.sh
  home/scripts/openfoam/of-fix-perms.sh
  home/scripts/openfoam/of-run.sh
  home/scripts/openfoam/of-shell-root.sh
  home/scripts/openfoam/of-shell.sh
  home/users/eelco/default.nix
Due: alejandra, prettier-md

make exe
  home/scripts/openfoam/mkfoam.sh
  home/scripts/openfoam/of-fix-perms.sh
  home/scripts/openfoam/of-run.sh
  home/scripts/openfoam/of-shell-root.sh
  home/scripts/openfoam/of-shell.sh
Due: none

added scripts
  home/modules/engineering/default.nix
  home/modules/engineering/scripts/openfoam/mkfoam.sh
  home/modules/engineering/scripts/openfoam/of-fix-perms.sh
  home/modules/engineering/scripts/openfoam/of-run.sh
  home/modules/engineering/scripts/openfoam/of-shell-root.sh
  home/modules/engineering/scripts/openfoam/of-shell.sh
Due: alejandra

moved back
  home/modules/engineering/openfoam.nix
  home/scripts/openfoam/mkfoam.sh
  home/scripts/openfoam/of-fix-perms.sh
  home/scripts/openfoam/of-run.sh
  home/scripts/openfoam/of-shell-root.sh
  home/scripts/openfoam/of-shell.sh
Due: alejandra

added sh
  home/modules/engineering/default.nix
  home/modules/engineering/openfoam.nix
Due: alejandra

update for contabo
  nixos/hosts/contabo.nix
Due: alejandra

update cont
  nixos/hosts/contabo.nix
Due: alejandra

only gnome
  nixos/hosts/contabo.nix
Due: alejandra

fixed f
  home/modules/hyperland/waypaper/default.nix
Due: alejandra

uniqu
  home/modules/hyperland/waypaper/default.nix
Due: alejandra

added kde and hypr to contabo
  nixos/hosts/contabo.nix
Due: alejandra

update for home
  envs/.env.singer
Due: none

added exe
  scripts/bootstrap/build-on-laptop.sh
Due: none

added instruction for using install script
  README.md
Due: prettier-md

fixed background
  home/modules/hyperland/default.nix
  home/modules/hyperland/waypaper/config.ini
  home/modules/hyperland/waypaper/default.nix
  home/modules/hyperland/waypaper/scripts/wallpaper-random.sh
Due: alejandra

fixed
  home/modules/hyperland/waypaper/config.ini
  home/modules/hyperland/waypaper/scripts/wallpaper.sh
Due: none

changed some settngs
  home/modules/hyperland/default.nix
  home/modules/hyperland/waybar/default.nix
  home/modules/hyperland/waypaper/default.nix
  nixos/hosts/contabo.nix
Due: alejandra

added session
  nixos/hosts/tongfang.nix
  nixos/modules/profiles/session.nix
Due: alejandra

pin default session
  nixos/hosts/tongfang.nix
Due: alejandra

fix for default hyprland
  nixos/hosts/tongfang.nix
  nixos/modules/profiles/session.nix
Due: alejandra

removed podman
  nixos/hosts/tongfang.nix
Due: alejandra

fixed openfoam
  home/modules/engineering/openfoam.nix
Due: alejandra

update script for docker
  home/scripts/openfoam/mkfoam.sh
  home/scripts/openfoam/of-fix-perms.sh
  home/scripts/openfoam/of-run.sh
  home/scripts/openfoam/of-shell-root.sh
  home/scripts/openfoam/of-shell.sh
Due: none

removed sh
  home/modules/engineering/openfoam.nix
  home/scripts/openfoam/mkfoam
  home/scripts/openfoam/of-fix-perms
  home/scripts/openfoam/of-run
  home/scripts/openfoam/of-shell
  home/scripts/openfoam/of-shell-root
Due: alejandra

added path
  home/modules/common/default.nix
  nixos/modules/common.nix
Due: alejandra

update hm
  home/modules/hyperland/waybar/default.nix
  home/scripts/openfoam/mkfoam
  home/scripts/openfoam/of-fix-perms
  home/scripts/openfoam/of-run
  home/scripts/openfoam/of-shell
  home/scripts/openfoam/of-shell-root
  nixos/modules/common.nix
Due: alejandra

update
  nixos/modules/common.nix
Due: alejandra

back to old
  home/modules/hyperland/waybar/default.nix
Due: alejandra

still not working for foamVersion
  home/scripts/openfoam/of-run
Due: none

fixed foam
  home/scripts/openfoam/of-run
Due: none

update all of scripts
  home/scripts/openfoam/mkfoam
  home/scripts/openfoam/of-fix-perms
  home/scripts/openfoam/of-run
  home/scripts/openfoam/of-shell
  home/scripts/openfoam/of-shell-root
Due: none

vi input
  home/modules/shells/inputrc.nix
  home/scripts/openfoam/of-shell
  home/scripts/openfoam/of-shell-root
Due: alejandra

update wallpaper
  home/modules/hyperland/waypaper/scripts/wallpaper-random.sh
  home/modules/hyperland/waypaper/scripts/wallpaper-set.sh
Due: none

prevent racing
  home/modules/hyperland/conf/autostart.conf
  home/modules/hyperland/default.nix
  home/modules/hyperland/waybar/default.nix
Due: alejandra

ptgui loading more robust
  home/modules/graphics/ptgui/default.nix
Due: alejandra

added meshlab
  home/modules/engineering/default.nix
  home/modules/graphics/default.nix
Due: alejandra

update
  home/modules/hyperland/default.nix
  home/modules/hyperland/waybar/default.nix
Due: alejandra

Path conditions:
  alejandra: any of: \.nix$
  prettier-json: any of: \.json$ and \.json$
  prettier-yaml: any of: \.(yml|yaml)$ and \.(yaml|yml)$
  prettier-md: any of: \.md$ and \.(md|markdown|mdown)$
